<app-toolbar></app-toolbar>

<router-outlet></router-outlet>

<div class="primary text-white p-4">Hola mundo</div>

<H1>que pasa con la bataraza?
</H1>

<div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
  <div class="flex items-center">
      <img
          class="w-6 h-6 m-0.5 rounded-full text-card ring-2 ring-bg-card"
          src="assets/images/avatars/female-02.jpg"
          alt="Card cover image">
      <img
          class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-bg-card"
          src="assets/images/avatars/female-04.jpg"
          alt="Card cover image">
      <img
          class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-bg-card"
          src="assets/images/avatars/male-09.jpg"
          alt="Card cover image">
      <img
          class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-bg-card"
          src="assets/images/avatars/male-07.jpg"
          alt="Card cover image">
      <div class="text-md tracking-tight ml-3">You and 24 more liked this</div>
  </div>
  <div class="hidden sm:flex flex-auto"></div>
  <div class="flex items-center mt-4 sm:mt-0">
      <button
          class="px-3 mr-1 -ml-2 sm:ml-0"
          mat-button>
          4 shares
      </button>
      <button
          class="px-3 sm:-mr-3"
          mat-button>
          No comments
      </button>
  </div>
</div>